.beginning-body() {
  @media @phones {
    .flex-with-direction(column, none);
  }

  @media @tablets {
    .flex-with-direction(row, wrap);
    margin-top: @five-percent;
    margin-bottom: @five-percent;
  }

  @media @desktop {
    .flex-with-direction(row, wrap);  
    margin-top: @five-percent;
    margin-bottom: @five-percent;
  }
}

.social-media {
    .media-button-styler(15px);
}

.trevor-flexer() {
  .custom-flex(center, center);
}

.about-trevor() {
  margin-top: @ten-percent;
  margin-left: @quarter-percent;
  padding: @five-percent;
  @border: @small-button-border;

  h3 {
    text-align: center;
  }

  @media @phones {
    .getWidth(@half-percent);
    margin-bottom: @five-percent;
    margin-left: @twenty-eight-percent;
    border: 1px solid green;
  }

  @media @tablets {
    .getWidth(@half-percent);
    margin-bottom: @two-percent;
    margin-left: @twenty-eight-percent;
    border: 1px solid red;
  }

  @media @desktop {
    .getWidth(@half-percent);
    margin-bottom: @five-percent;
    margin-left: @twenty-percent;
    border: 1px solid blue;
  }

}
.about-ray {
  border: @small-button-border;
  .custom-flex(center, center);
}

.about-dallas {
  border: @small-button-border;
  .custom-flex(center, center);
}

.about-aaron {
  border: @small-button-border;
  .custom-flex(center, center);
}

.body-pieces() {
  .body-designer();
  .adapted-h3();
  .getWidth(@maximum-percent);

  @media @phones {
    .getWidth(@maximum-percent);
    .adapted-h3();
    .body-designer();
  }

  @media @tablets {
    .adapted-h3();
    .body-designer();
    .getWidth(@maximum-percent);
  }

  @media @desktop {
    .body-designer();
    .getWidth(@quarter-percent);
    .adapted-h3();
  }
}

.img-display() {
  .custom-flex(center, center);
}