.beginning-body {

    @media @phones {
        .display-flex();
        flex-direction: column;
    }

    @media @tablets {
        .display-flex();
        flex-wrap: wrap;
        margin-top: 75px;
        margin-bottom: 60px;
    } 

    @media @desktop {
        margin-top: 100px;
        margin-bottom: 80px;
        .display-flex();
        flex-wrap: wrap;
        flex-direction: row;

    }
}

.about-trevor {
    
    margin-top: @five-percent-width;
    .getWidth(@half-width);
    border: 2px solid black;
    margin-left: @quarter-width;
    text-align: center;
    padding: @two-percent-width;
    
    @media @phones{

        margin-bottom: @five-percent-width;
    }
}

.body-pieces {

    .body-designer();
    .adapted-h3();
    .getWidth(@maximum-width);

    @media @phones {
        .getWidth(@maximum-width);
        .adapted-h3();
        .body-designer();
    } 

    @media @tablets {
        .adapted-h3();
        .body-designer();
        .getWidth(@maximum-width);
    }

    @media @desktop {
        .body-designer();
        .getWidth(@third-width);
        .adapted-h3();

    } 
}

.adapted-h3(){
    h3 {
        padding-top: 10px;
        padding-bottom: 15px;
        text-align: center;
    }
}

.body-designer {
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid black;
    padding-bottom: 50px;
}

.img-display {
    .display-flex();
     justify-content: center;
}