.beginning-body() {
  @media @phones {
    .flex-with-direction(column, none);
  }

  @media @tablets {
    .about-body-mixin(@five-percent, @five-percent);
    }

  @media @desktop {
    .about-body-mixin(@five-percent, @five-percent);
  }
}

.social-media {
    .media-button-styler(15px);
}

.about-trevor() {
  margin-top: @ten-percent;
  margin-left: @quarter-percent;
  padding: @five-percent;
  @border: @small-button-border;

  h3 {
    text-align: center;
    margin-bottom: @five-percent;
  }

  @media @phones {
    .about-device-styler(@half-percent, @five-percent, @twenty-eight-percent);
    border: 1px solid green;
  }

  @media @tablets {
    .about-device-styler(@half-percent, @five-percent, @twenty-eight-percent);
    border: 1px solid red;
  }

  @media @desktop {
    .about-device-styler(@half-percent, @five-percent, @twenty-percent);
    border: 1px solid blue;
  }

}

.img-display() {
  .getWidth(@maximum-percent);
}

.p-formater {
  p {
     font-size: 2.5rem;
  }

}