//HEADER MIXINS

.tiny-view-header {
  .getWidth(@maximum-percent);
  height: @over-half-percent;
  .custom-flex(center, center, row);
  flex-direction: column;

  .intro {
    background: rgba(0, 0, 0, 0.7);
  }

  p {
    .header-p-mixin();
  }

  h1 {
    .header-h1-mixin();
  }
}

.phone-view-header {
  .getWidth(@maximum-percent);
  height: @over-half-percent;
  .custom-flex(center, center, row);
  flex-direction: column;

  .intro {
    background: rgba(0, 0, 0, 0.7);
  }

  p {
    .header-p-mixin();
  }

  h1 {
    .header-h1-mixin();
  }
}

// HEADER MIXINS

.tablet-view-header {
  .getWidth(@maximum-percent);
  height: @over-half-percent;
  .custom-flex(center, center, row);

  .intro {
    background: rgba(0, 0, 0, 0.7);
  }

  p {
    .header-p-mixin();
  }

  h1 {
    .header-h1-mixin();
  }
}

.desktop-view-header {
  .getWidth(@maximum-percent);
  height: @over-half-percent;
  .custom-flex(center, center, row);
  flex-direction: column;

  .intro {
    background: rgba(0, 0, 0, 0.7);
  }

  p {
    .header-p-mixin();
  }

  h1 {
    .header-h1-mixin();
  }
}