.body {
    .custom-flex(center, center, row);
    margin-top: @five-percent;    

    h2 {
        margin-top: @tenth-percent;
    }

    img {
        width: @maximum-percent;
        margin-bottom: @two-percent;

    }
}