.body {
    .display-flex();
    align-items: center;
    justify-content: center;
    margin-top: @five-percent;    
}

.body h2 {
    margin-top: @tenth-percent;
}

.body img {
    width: @maximum-percent;
}

.grid {
    .grids();

    .grid-right {
        .right();

        img {
            width: @thirty-percent;
        }

        h3 {
            margin-top: @tenth-percent;
        }

        p {
            margin-top: @tenth-percent;
        }
    }

    .grid-left {
        .left();

        img {
            width: @thirty-percent;
        }

        h3 {
            margin-top: @tenth-percent;
        }

        p {
            margin-top: @tenth-percent;
        }
    }
}

.grid2 {
    .grids();
    margin-bottom: @thirty-percent;

    .grid-right {
        .right();

        img {
            width: @thirty-percent;
        }

        h3 {
            margin-top: @tenth-percent;
        }

        p {
            margin-top: @tenth-percent;
        }
    }

    .grid-left {
        .left();

        img {
            width: @thirty-percent;
        }

        h3 {
            margin-top: @tenth-percent;
        }

        p {
            margin-top: @tenth-percent;
        }
    }
}

@media @phones {
    .grid {
        flex-direction: column;
        justify-content: center;
        margin-top: @tenth-percent;

        .grid-left {
            margin-top: @tenth-percent;
            width: @maximum-percent;
        }
    
        .grid-right {
            margin-top: @tenth-percent;
            width: @maximum-percent;
        }
    }

    .grid2 {
        flex-direction: column;
        justify-content: center;
        margin: @tenth-percent 0 @tenth-percent 0;

        .grid-right {
            margin-top: @tenth-percent;
            width: @maximum-percent;
        }
    }
}


@media @tablets {
    .grid {
        flex-direction: row;

        .grid-left {
            .left();
        }
    
        .grid-right {
            .right();
        }
    }

    .grid2 {
        flex-direction: row;
        
        .grid-left {
            .left();
        }
        
        .grid-right {
            .right();
        }
    }
}

@media @desktop {
    .grid {

        .grid-left {
            .left();
        }
    
        .grid-right {
            .right();
        }
    }

    .grid2 {
        
        .grid-left {
            .left();
        }
        
        .grid-right {
            .right();
        }
    }
}