.button() {
  .custom-flex(space-evenly, center);
  flex-direction: row;
  color: @txt-color;
  text-decoration: none;
  width: @tenth-percent;
  border: 1px solid @default-txt-color;
  border-radius: 10px;
}

.getWidth(@width) {
  width: @width;
}

.custom-flex(@justify, @align) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.navigation-border() {
   border: @small-button-border;
}

.media-button-styler(@padding) {
    a {
        text-decoration: none;
        color: @default-txt-color;
        font-weight: 700;
        font-size: 2.5rem;
        background-color: @bg-color;
        padding: @padding;
        margin-right: @fifteen-percent;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px solid black;
        border-radius: 15%;
        transition: 0.25s;
        &:hover {
          background-color: black;
          color: @white;
        }
        &:active {
          background-color: @logo-font-color;
        }
      }
}

.header-h1-mixin {    
    text-align: center;
    color: @lighter-gray;
    font-weight: 700;
    font-size: 4rem;
    margin-top: 5px;    
}

.header-p-mixin {
    text-align: center;
    color: @darker-gray;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 2px 2px black;
}

.flex-with-direction(@direction, @wrap) {
    display: flex;
    flex-direction: @direction;
    flex-wrap: @wrap;    
}

.adapted-h3() {
  h3 {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    justify-items: space-evenly;
  }
}

.body-designer() {
  padding-top: @five-percent;
  padding-left: 5px;
  padding-right: 5px;
  border: @small-button-border;
  padding-bottom: @five-percent;
  margin-left: @five-percent;
}

.a-mixin(@color) {
    text-decoration: none;
    font-size: 2rem;
    margin: 5px;
    padding: 3px 5px 3px 5px;
    padding-bottom: @two-percent;
    color: @color;
    background-color: @bg-color;
    border: @small-button-border;
    border-radius: 5px;
    font-weight: 700;
}
.about-body-mixin(@margin-top, @margin-botton) {
   .flex-with-direction(row, wrap);
   margin-top: @margin-top;
   margin-bottom: @margin-bottom;
}

.about-device-styler(@width, @margin-bottom, @margin-left) {
  .getWidth(@width);
  margin-bottom: @margin-bottom;
  margin-left: @margin-left;
}

.align-left {
  text-align: left;
}