.button() {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: @txt-color;
    text-decoration: none;
    width: @tenth-width;
    border: 1px solid @txt-color;
    border-radius: 10px;
}

.display-flex(){
    display: flex;
}

.getWidth(@width)
{
    width: @width;
}

.image-spacing-for-about {
    padding-top: 5px;
    padding-bottom: 5px;
}

.grids() {
    .display-flex();
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: @tenth-width;
}

.right() {
    .display-flex();
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: @half-width;
    margin-top: @tenth-width;
    padding-right: @tenth-width;
    border-right: 1px solid black;
}

.left() {
    .display-flex();
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: @half-width;
    margin-top: @tenth-width;
    padding-left: @tenth-width;
}
