.nav-container {
    .tiny-view; // 500 px and less
    
    @media @phones { //500px and up
        min-width: @maximum-width;
        .mobile-view;

      }
   
    @media @tablets { //800 px and up
        .getWidth(@maximum-width);
        .tablet-view;     
        
      }

      @media @desktop { //1000 pixels and up
        .getWidth(@maximum-width);
        .desktop-view;
      }
        
}

//NAV BAR mixins
.fixed-nav {
  position: fixed;
  top: 0;

}

.tiny-view {
  display: flex;
  min-width: @maximum-width;
  height: 80px;
  background-color: @header-footer-color;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  
  a {
      text-decoration: none;
      font-size: 1.5rem;
      margin: 5px;
      padding: 3px 5px 3px 5px;
      color: @txt-color;
      background-color: @bg-color;
      border: 1px solid black;
      border-radius: 5px;
      font-weight: 700;

      &:hover {
          background-color: black;
          color: white;
          transition: 300ms;
      }

      &:active {
          background-color: #666666;
      }
  }

  .header-h1 {
      margin-bottom: 15px;
      font-size: 2.5rem;
      font-weight: 600;
  }



}

.mobile-view {
      display: flex;
      height: 80px;
      background-color: @header-footer-color;
      flex-flow: column-reverse;
      justify-content: center;
      align-items: center;
      
      a {
          text-decoration: none;
          font-size: 1.5rem;
          margin: 5px;
          padding: 3px 5px 3px 5px;
          color: @txt-color;
          background-color: @bg-color;
          border: 1px solid black;
          border-radius: 5px;
          font-weight: 700;

          &:hover {
              background-color: darken(black, 5%);
              color: white;
              transition: 300ms;
          }

          &:active {
              background-color: #666666;
          }
      }

      .header-h1 {
          margin-bottom: 15px;
          font-size: 2.5rem;
          font-weight: 600;
      }
}

.tablet-view {
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      background-color: @header-footer-color;
      padding: 15px;

      a {
          text-decoration: none;
          color: @txt-color;
          font-weight: 700;
          background-color: @bg-color;
          padding: 10px;
          margin: 15px;
          border: 1px solid black;
          border-radius: 15%;
          transition: .25s;
          &:hover {
              background-color: black;
              color: white;
          }
          &:active {
             background-color: #666666;
          }
      }

      .header-h1 {
          font-size: 2.5rem;
          font-weight: 600;
      }
}

.desktop-view {
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      background-color: @header-footer-color;
      width: @maximum-width;
      padding: 15px;

      a {
          text-decoration: none;
          color: @txt-color;
          font-weight: 700;
          background-color: @bg-color;
          padding: 10px;
          margin: 15px;
          border: 1px solid black;
          border-radius: 15%;
          transition: .25s;
          &:hover {
              background-color: black;
              color: white;
          }
          &:active {
             background-color: #666666;
          }
      }

      .header-h1 {
          font-size: 2.5rem;
          font-weight: 600;
      }
    }

